#top {
	height:3em; 
	vertical-align:middle;
	background-color: #ddd;
	width:100%;
}

#left {
	
	width:20%;
	background-color:#aaa;
	display:inline-block;
	height:auto;
	min-height:10em;

}

#content {
	width:70%;
	display:inline-block;
	vertical-align:top;
}

#footer {
	height:3em; 
	vertical-align:middle;
	background-color: #ddd;
	width:100%;
}
